<div>
    <form action="/addSubscribe" method="post">
        <input type="hidden" value="{{sku}}" name="sku">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>