{{#each vacations}}
    <div class="vacation">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
            <span class="outOfSeason">We're sorry this is out of season.</span>
            <a href="/subscribe?sku={{sku}}">Notify me when in season.</a>
    </div>
{{/each}}